<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Inventory Item</title>
</head>
<body>
<h1>Create Inventory Item</h1>
<form action="{% url 'tracker:create_inventory_item' %}" method="post">
{% csrf_token %}
    <label for="item_name">Item Name: </label>
    <input type="text" name="item_name" id="item_name" required>

    <label for="company">Company: </label>
    <input type="text" name="company" id="company" required>

    <label for="item_description">Item Description: </label>
    <textarea type="item_description" name="item_description" id="item_description" rows="10" cols="50"> </textarea>

    <label for="stock_quantity">Stock Quantity: </label>
    <input type="number" name="stock_quantity" id="stock_quantity">

    <label for="item_location">Item Location: </label>
    <input type="text" name="item_location" id="item_location">

    <label for="release_date">release_date: </label>
    <input type="date" name="release_date" id="release_date">

    <input type="submit" id="submit" value="Submit">
</form>

<div>
      <a href="{% url 'tracker:index' %}"> Back to List of Contacts </a>
</div>

</body>
</html>
