<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Inventory Item</title>
</head>
<body>
<h1>Delete Inventory Item</h1>
<form action="{% url 'tracker:delete_inventory_item' inventoryitem.id %}" method="post">
{% csrf_token %}
    <label for="item_name">Item Name: </label>
    <input type="text" name="item_name" id="item_name" value="{{ inventoryitem.item_name}}" readonly>

    <label for="company">Company: </label>
    <input type="text" name="company" id="company" value="{{ inventoryitem.company}}" readonly>

    <label for="item_description">Item Description: </label>
    <textarea type="item_description" name="item_description" id="item_description" rows="10" cols="50" readonly>{{inventoryitem.item_description}}</textarea>

    <label for="stock_quantity">Stock Quantity: </label>
    <input type="number" name="stock_quantity" id="stock_quantity" value="{{ inventoryitem.stock_quantity}}" readonly>

    <label for="item_location">Item Location: </label>
    <input type="text" name="item_location" id="item_location" value="{{ inventoryitem.item_location}}" readonly>

    <label for="release_date">release_date: </label>
    <input type="date" name="release_date" id="release_date" value="{{inventoryitem.release_date | date:"Y-m-d"}}" readonly>

    <input type="submit" id="submit" value="Delete">
</form>

<div>
     <a href="{% url 'tracker:detail' inventoryitem.id %}"> Back to Details </a>
</div>

</body>
</html>